vim/.netrwhist
.*.sw*
mkvimball
tags
vim/.VimballRecord
vim/undo/
python_vim/
vim/syntax/python.vim

vim/bundle/Command-T/
vim/bundle/gundo.vim/
vim/bundle/inkpot/
vim/bundle/nerdcommenter/
vim/bundle/simplenote.vim/
vim/bundle/snipmate.vim/
vim/bundle/vim-colors-solarized/
vim/bundle/vim-easymotion/
vim/bundle/vim-pathogen/
vim/bundle/vim-surround/
vim/bundle/vimpager/
vim/bundle/.vundle/
vim/bundle/JavaScript-Indent/
vim/bundle/bufexplorer.zip/
vim/bundle/matchit.zip/
vim/bundle/taglist.vim/
vim/bundle/Align/
vim/bundle/FuzzyFinder/
vim/bundle/L9/
vim/bundle/VisIncr/
vim/bundle/checksyntax_vim/
vim/bundle/nerdtree/
vim/bundle/quickfixsigns_vim/
vim/bundle/vim-conque/
vim/bundle/vim-ipython/
