vim/.netrwhist
vim/*/surround.*
vim/colors/inkpot.vim
python_vim
vim/syntax/python.vim
.*.sw*
mkvimball
vim/autoload/pathogen.vim
vim/bundle/gundo
vim/bundle/solarized
vim/bundle/easymotion
vim/bundle/snipmate
tags
