Host *
	ControlPath ~/.ssh/master-%r@%h:%p
	ControlMaster auto
	VisualHostKey yes
	Compression yes

Host remote.cs.rpi.edu
	User mukhea2
	compression no

Host cs.rpi.edu
	Hostname freebsd.remote.cs.rpi.edu
	User mukhea2
	compression no

Host *.cs.rpi.edu
	User mukhea2
	compression no

Host pratipm.accessmyoffice.net
	User master

Host 192.168.1.*
	User master
	compression no

Host lp*.ccni.rpi.edu
	User PPCCmukh

Host area51
	User mukhea2
