Host *.cs.rpi.edu
	User mukhea2
	ForwardX11 "yes"

Host pratipm.accessmyoffice.net
	User master
	ForwardX11 "yes"

Host 192.168.1.3
	User master
	ForwardX11 "yes"

Host 192.168.1.3
	User master
	ForwardX11 "yes"
